@model InternBookListDto
@{
    ViewData["Title"] = "InternBookDetailDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Book Detail</h1>
    <input asp-for="Id" type="hidden" class="form-control" />
    <span>Description</span>
    <textarea asp-for="Description" placeholder="Text Description Here.." cols="5" rows="5" class="form-control"></textarea>
    <br />
    <span>Intern Day</span>
    <input asp-for="InternDay" type="text" readonly class="form-control" />
    <br />

